
.Arrow {
  position: absolute;
  top: 1em;
  left: 1em;
	width: 2em;
}
.Arrow:hover {
	animation: bumb 500ms infinite ease-in-out alternate;

}

@keyframes bumb {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-10px);

	}
}