nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin-bottom: 1em;

}
/* HOME HEADER */
.home-header .active-link img {
	opacity: 0.5;
}
.home-header .search-icon {
	margin-right: auto;
}
.home-header .user-icon img {
	border-radius: 0.8rem;
}
/* END OF HOME HEADER */

/* EXPLORE HEADER */
.explore-header h3 {
	margin: 0;
	padding-top: 13px;
	line-height: 1;
}




/* END EXPLORE HEADER */
.profile-header {
  justify-content: flex-end;

}
.profile-header .profile-icon {
  font-size: 1.7em;
	padding-top: 11px;
  line-height: 1;
  margin-left: 1em;
}
/* PROFILE HEADER */

/* UPCOMMING HEADER */
.upcomming-header {
	padding-left: 2.6em;
}
.upcomming-header h3 {
		margin-right: auto;
		margin-left: auto;
		padding: 14px 18px;
		cursor: pointer;
	font-size:1.5em;
	border-radius: 1em;
	line-height: 1;
		transition: all 200ms ease-in-out;
}
.upcomming-header button {
	border-radius: 50%;
	padding: .4em;
	transition: all 200ms ease-in-out;

}
.upcomming-header h3:hover,
.upcomming-header button:hover {
	background-color: rgba(0, 0, 0, .1);
}

.upcomming-header h3 svg {
	font-size: 1.4em;
	margin-left: .2em;
}
.upcomming-header svg {
	font-size:1.8em ;
}
