* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --textColor:rgb(65,64,66);
  --btnBgColor:#4387b7;
  --transition:all 200ms ease-in-out;
  --PhoneInputCountryFlag-aspectRatio: 1.333;

}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 1em;
  font-family: 'Neutrif Pro';
}
.titl {
  color: #4387b7;
}
input {
  font-family: inherit;
}
a.primaryButton {
  text-decoration: none;
  border-radius: 2rem;
  padding: .5em 1.5em;
  font-size: 1.4em;
  background-color: var(--btnBgColor);
  color: white;
  font-weight: bold;
  transition: var(--transition);
}
.primaryButton:hover {
  color: white;
  opacity: .8;
}
